body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

.container {
    max-width: 1128px;
}

a {
    color: #00ccff;
    text-decoration: none;
    font-size: 12px;
}

p {
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.cabecalho {
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

li {
    float: right;
    display: inline;
    font-size: 14px;
    margin-left: 24px;
    margin-top: 12px;
    text-decoration: none;
}

.menu ul li a .href {
    font-size: 20px;
    color: #999;
}

.banner {
    height: 450px;
    margin-bottom: 35px;
    position: relative;
}

.box {
    width: 42.5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 48px;
    padding-left: 48px;
    position: absolute;
    top: 48px;
    background-color: rgba(0, 0, 0, 0.5);
}

.box p {
    font-size: 20px;
    color: #fff;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 200;
    color: #fff;
}

.rodape {
    width: 100%;
    margin-bottom: 30px;
    float: left;
    font-size: 30px;
}

.rodape p {
    margin-bottom: 0;
}

small {
    font-size: 18px;
}

footer .href {
    font-size: 15px;
}